body{
	overflow-x: hidden;
}
.top-section{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f242a+0,36567f+100 */
	background: #1f242a; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1f242a 0%, #36567f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1f242a 0%,#36567f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1f242a 0%,#36567f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f242a', endColorstr='#36567f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.logo-img{
	float: left;
}

.top-section .navbar-nav{
	float: right;
	margin-top: 40px;
}

.top-section .navbar-nav li a{
	color: white;
	font-family: 'BoosterNextFY Regular';
}

.top-section .navbar-nav li a:hover{
	background-color: #25c5da;
	border-radius: 3px;
}

.top-section .navbar-nav li.active a{
	background-color: #25c5da;
	border-radius: 3px;
}

.top-section .navbar-logo{
    padding: initial;
    line-height: initial;
    height: auto;
    margin-top: 40px;
	position: relative;
	display: block;
}

.header-image{
	width: 80%;
	position: relative;
	display: block;
	margin: 0px auto;
}

.header-title{
	text-transform: uppercase;
    color: white;
    text-align: center;
	font-family: 'BoosterNextFY Medium';
	font-size: 38px;
	margin-top: 0px;
}

.header-sub-title{
	text-align: center;
    width: 65%;
    color: white;
    position: relative;
    display: block;
    margin: 0px auto;
    font-size: 24px;
    font-weight: 100;
	font-family: 'BoosterNextFY Regular';
	margin-top: 25px;
    margin-bottom: 50px;
}

.top-section-block{
	padding-top: 100px;
	padding-bottom: 100px;
}

.line-object{
    width: 80%;
    position: relative;
    display: block;
    border-bottom: solid 1px #4b5a6e;
    height: 1px;
    margin: 100px auto 100px auto;
}

.in-de-section{
	width: 80%;
    position: relative;
    display: block;
    margin: 0px auto;
}

.half-area{
	position: relative;
    display: block;
    float: left;
    width: 50%;
}

.in-de-title{
	color: white;
	font-family: 'BoosterNextFY Bold';
	font-size: 24px;
	margin-bottom: 30px;
}

.in-de-mark{
	width: 32px;
	height: 32px;
}

.in-de-content{
	padding-left: 15px;
	color: white;
	font-family: 'BoosterNextFY Regular';
	font-size: 18px;
	padding-right: 100px;
}

.in-de-block{
	width: 100%;
	margin-bottom: 30px;
	position: relative;
    display: table-row;
}

.in-de-block div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
	padding-bottom: 30px;
}

.feature-section{
	position: relative;
	display: block;
	padding: 100px 0px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.flexibility-box{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25c7d7+0,25d8b5+100 */
	background: #25c7d7; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #25c7d7 0%, #25d8b5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #25c7d7 0%,#25d8b5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #25c7d7 0%,#25d8b5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25c7d7', endColorstr='#25d8b5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.apitech-box{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4466b+0,f07f52+100 */
	background: #f4466b; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #f4466b 0%, #f07f52 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f4466b 0%,#f07f52 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f4466b 0%,#f07f52 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4466b', endColorstr='#f07f52',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.webconsole-box{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5caeed+0,9580ff+100 */
	background: #5caeed; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #5caeed 0%, #9580ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #5caeed 0%,#9580ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #5caeed 0%,#9580ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5caeed', endColorstr='#9580ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.flexibility-box .category-item.active{
	color: #25c7d7;
}
.apitech-box .category-item.active{
	color: #f4466b;
}
.webconsole-box .category-item.active{
	color: #5caeed;
}

.category-item {
    position: relative;
    float: left;
    width: 33.33%;
    display: block;
    line-height: 58px;
    text-align: center;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.feature-category{
    width: 95%;
    position: relative;
    display: block;
    height: 58px;
    margin: 58px auto;
    border: solid 1px white;
	color: white;
	font-family: 'BoosterNextFY Bold';
	font-size: 24px;
	overflow: hidden;
}

.middle-cat{
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.category-item.active{
	background: white;
	color: #25c7d7;
}

.feature-content{
	position: relative;
	display: block;
}

.feature-content > .container > div{
    position: relative;
    display: block;
    width: 95%;
    margin: 0px auto;
}

.feature-content-image img, .feature-content-image iframe{
	max-width: 95%;
}

.feature-content-data{
	padding-right: 20%;
}

.content-data-title{
	/*margin-top: 42px;*/
	color: white;
	font-family: 'BoosterNextFY Light';
	font-size: 35px;
	margin-bottom: 30px;
}

.content-data-block{
	width: 100%;
	margin-bottom: 30px;
	position: relative;
    display: table-row;
}

.content-data-block div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
	padding-bottom: 30px;
}

.content-data-value{
	padding-left: 15px;
	color: white;
	font-family: 'BoosterNextFY Regular';
	font-size: 18px;
}

.nav-action{
    position: absolute;
    width: 100%;
    height: 140px;
    top: 50%;
    margin-top: -70px;
}

.prev-feature{
    position: relative;
    display: block;
    float: left;
    width: 70px;
    height: 140px;
    background: url('../images/slider_arrow_left.svg');
    cursor: pointer;
}

.next-feature{
    position: relative;
    display: block;
    float: right;
    width: 70px;
    height: 140px;
    background: url('../images/slider_arrow_right.svg');
    cursor: pointer;
}

.clients-section{
	background: white;
	padding: 100px 0px;
}

.clients-section .header-title{
	color: #000;
}

.clients-section .header-sub-title{
	color: #616569;
}

.clients-section .content-data-title{
	color: #000;
}

.clients-section .content-data-value{
	color: #616569;
}

.clients-section .clients-content-data{
	padding-right: 80px;
}

.clients-content{
    width: 95%;
    position: relative;
    margin: 80px auto 0px auto;
}

.clients-content-video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width: 80%;
}

.clients-content-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.clients-testimonial{
	height: auto;
    padding: 45px;
    box-sizing: border-box;
    border: solid 1px #eaeaea;
    width: 95%;
    position: relative;
    display: block;
    margin: 80px auto;
}

.testimonial-quote-logo {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}

.testimonial-contents {
    position: relative;
    display: table-cell;
    width: calc(100% - 115px);
    padding-left: 30px;
    vertical-align: middle;
    line-height: 1.5;
}

.clients-testimonial .wrap{
	position: relative;
	width: 100%;
	display: table-row;
	font-family: 'BoosterNextFY Regular';
	font-size: 22px;
	color: #616569;
}

span.tm-author {
    color: #000;
    font-weight: bold;
}

a.tm-link {
    margin-left: 25px;
    font-weight: bold;
    color: #25c5da;
}

.clients-logos{
	width: 95%;
	position: relative;
	display: block;
	margin: 0px auto;
}

.clients-logos div img:hover{
	filter: none;
	-webkit-filter: grayscale(0%);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.clients-logos div{
	position: relative;
    display: table-cell;
    width: 25%;
    text-align: center;
    vertical-align: bottom;
}

.clients-logos div img{
    max-height: 100px;
    max-width: 80%;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	cursor: pointer;
}

.clients-logos{
	position: relative;
	width: 95%;
	display: block;
	margin: 0px auto;
}

.clients-logos .wrap{
    width: 100%;
    position: relative;
    display: table-row;
    margin: 0px auto;
}

.technology-section{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1f242a+0,36567f+100 */
	background: #1f242a; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #1f242a 0%, #36567f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #1f242a 0%,#36567f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #1f242a 0%,#36567f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f242a', endColorstr='#36567f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	padding: 60px 0px 100px 0px;
	position: relative;
	display: block;
}

.technology-section .container > .wrap{
    width: 95%;
    position: relative;
    display: block;
    margin: 0px auto;
    border-bottom: solid 1px #616569;
    margin-bottom: 80px;
}

.technology-section .content-data-title{
	font-size: 24px;
}

.technology-section .header-title{
	margin-bottom: 80px;
}

.technology-section .container .half-area{
	padding-right: 50px;
}

.technology-section .container .half-area:first-child{
	border-right: solid 1px #616569;
	padding-bottom: 50px;
}

.technology-section .container .half-area:last-child{
	padding-left: 50px;
	padding-right: 0px;
}

.tech-socket-content {
    font-family: 'BoosterNextFY Regular';
    font-size: 22px;
    color: white;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 80px;
}

.technology-section .container > .wrap .table-wrap{
    position: relative;
    display: table-row;
    width: 100%;
}

.tech-socket-img{
    position: relative;
    display: table-cell;
    width: 33%;
    vertical-align: middle;
    padding-bottom: 80px;
}

.tech-socket-img img{
	width: 100%;
}

.technology-section .header-sub-title{
	width: 100%;
	margin-bottom: 50px;
}

.third-area {
    position: relative;
    float: left;
    width: 33.33%;
    padding-bottom: 80px;
}

.blockitem-content {
    position: relative;
    display: table-cell;
    color: white;
    vertical-align: middle;
    padding: 0px 15px;
    font-size: 17px;
    font-family: 'BoosterNextFY Regular';
}

.blockitem-img {
    position: relative;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    width: auto;
}

.blockitem-img img {
    height: 100%;
}

.try-api-box .content-data-value{
	padding-left: 0px;
}

.technology-section .container .try-api-box .half-area:first-child{
	    border-right: none;
}

.try-api-box .feature-content-image{
	padding-bottom: 80px;
}

.enquery-section{
    padding: 100px 0px;
    background: url(../images/Enquiry_Background.svg);
    background-size: 100% 300%;
    width: 100%;
    height: 300%;
    background-color: #25c5da;
    background-position-y: 200%;
    background-position-x: 200%;
    font-family: "BoosterNextFY Medium";
}

.enquery-wrap{
    text-align: center;
    position: relative;
    height: 57px;
}
.enquery-wrap img{
	display: inline-block;
    line-height: 57px;
    vertical-align: top;
}
.enquery-text{
	display: inline-block;
    font-size: 48px;
    color: white;
    line-height: 57px;
    text-transform: uppercase;
    margin-left: 40px;
    height: 57px;
}

.footer-seciton{
	padding: 100px 0px;
	background: white;
}

.copyright-text{
	font-family: "BoosterNextFY Regular";
	font-size: 21px;
	color: #69656a;
}

.half-area .wrap {
    font-family: "BoosterNextFY Bold";
    font-size: 21px;
    color: #333;
    position: relative;
    display: table-row;
}

.half-area .wrap div {
    position: relative;
    display: table-cell;
    padding: 0px 5px;
}

.half-area .wrap .phone-text{
	padding-right: 20px;
}

.technology-section .container > .wrap.try-api-box{
    border-bottom: none;
    margin-bottom: 0px;
}

.footer-seciton br{
	display: none;
}

.modal-back{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    left: 0px;
    top: 0px;
    background-color: rgba(37, 182, 201, 0.7);
	/*-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	*/
	display: none;
	opacity: 0;
}

.contactus-form{
    position: absolute;
    width: 640px;
    margin-left: -320px;
    left: 50%;
    top: 100px;
    background-color: white;
    padding: 60px;
    border-radius: 5px;
    display: none;
    opacity: 0;
    z-index: 111;
}

.contactus-form .close-btn{
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

.contactus-form .close-btn:hover{
    margin-left: 1px;
    margin-top: 1px;
}

/*.contactus-section{
    display: none;
    opacity: 0;
}

.contactus-section form{
	position: absolute;
    width: 640px;
    margin-left: -320px;
    left: 50%;
    top: 100px;
    background-color: white;
    padding: 60px;
    border-radius: 5px;
    z-index: 111;
}

.contactus-section .close-btn{
    position: absolute;
    right: 32px;
    top: 32px;
    cursor: pointer;
    font-weight: bold;
    cursor: pointer;
}

.contactus-section .close-btn:hover{
	margin-left: 1px;
	margin-top: 1px;
}*/

.contactus-title{
	font-family: "BoosterNextFY Light";
	font-size: 38px;
}

.contactus-subtitle{
	font-family: "BoosterNextFY Light";
	font-size: 22px;
	color: #4c4c4c;
}

.contactus-item, .contactus-subtitle{
	margin-bottom: 25px;
}

.contactus-item label{
	width: 100%;
	position: relative;
	text-transform: uppercase;
	font-family: "BoosterNextFY Light";
	font-size: 16px;
}

.contactus-item textarea, .contactus-item input{
    font-size: 16px;
    font-family: "BoosterNextFY Light";
    width: 100%;
    position: relative;
    display: block;
    color: #4c4c4c;
    border: none;
    border-bottom: solid 1px #dcdcdc;
    height: 45px;
    text-indent: 5px;
    outline: 0;
}

.contactus-item input:focus{
	border-bottom: solid 2px #dcdcdc;
}

.contactus-item textarea{
	height: 120px;
	border:; solid 1px #dcdcdc;
}

.contactus-item button{
    background: #25c5da;
    width: 100%;
    height: 42px;
    line-height: 42px;
    color: white;
    text-transform: uppercase;
    font-family: "BoosterNextFY Light";
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    outline: 0;
    border: none;
}

.contactus-item button:hover{
	font-weight: bold;
}

.enquery-section{
    cursor: pointer;
}
